Import Library

In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Masukkan Datasets

In [38]:
df = pd.read_csv(r"C:\Users\ukasy\project ML\Study Group\data preprocessing\Tugas GDOC_Data Preprocessing\Datasets\MBP.csv", na_values=['NA'])

df['ROM/Storage'].value_counts()

ROM/Storage
128 GB ROM               689
64 GB ROM                401
32 GB ROM                210
256 GB ROM               189
4 MB ROM                  41
16 GB ROM                 33
8 GB ROM                  15
32 MB ROM                 13
128 MB ROM                11
Expandable Upto 32 GB      8
0.125 GB ROM               8
4 GB ROM                   7
16 MB ROM                  7
Expandable Upto 16 GB      5
48 MB ROM                  5
512 GB ROM                 4
100 MB ROM                 2
153 MB ROM                 2
2.27 MB ROM                2
10 MB ROM                  2
Expandable Upto 8 GB       2
NA KB ROM                  1
0 GB ROM                   1
2 MB ROM                   1
NA ROM                     1
100 KB ROM                 1
20 MB ROM                  1
Name: count, dtype: int64

Sample datasets & hapus kolom yg tidak penting

In [39]:
list_cols = df.columns.to_list()
cols_delete = ['Date of Scraping']
df.drop(cols_delete, axis=1, inplace=True)
df.sample(5)

,Phone Name,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Price in INR
1358,Nokia 6310,3.9,"2,520",8 MB RAM,16 MB ROM,0.3MP Rear Camera,NaN,1150 mAh,Unisoc 6531F Processor,"₹4,499"
191,"realme C31 (Dark Green, 64 GB)",4.4,"65,343",4 GB RAM,64 GB ROM,13MP + 2MP + 0.3MP,5MP Front Camera,5000 mAh,Unisoc T612 Processor,"₹8,749"
708,SAMSUNG Guru FM Plus,4.2,"27,967",NA ROM,NaN,800 mAh Battery,NaN,1 mAh,NaN,"₹1,573"
176,"realme C25s (Watery Blue, 128 GB)",4.4,"51,873",4 GB RAM,128 GB ROM,13MP + 2MP + 2MP,8MP Front Camera,6000 mAh,MediaTek Helio G85 Processor,"₹10,489"
706,SAMSUNG Metro 313 Dual Sim,4.2,"15,015",16 MB RAM,2 MB ROM,0.3MP Rear Camera,NaN,1000 mAh,1 Year Manufacturer Warranty,"₹2,340"

Ubah tipe data ke numerik

In [40]:
NA_mask =  df['RAM'].str.contains('NA', na=False)
df_NA = df[NA_mask]

df_A = df[~df['Battery'].str.contains('mAh', na=False)]
df_A

,Phone Name,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Price in INR
720,SAMSUNG Guru FM Plus,4.2,"27,967",3.81 cm (1.5 inch) Display,NaN,1 Year Manufacturer Warranty,NaN,NaN,NaN,"₹1,500"
729,SAMSUNG GT 1200 R/I/M,4.0,870,cm Display,NaN,NaN,NaN,NaN,NaN,"₹1,699"
1389,Nokia C2-00,0.0,0,cm Display,NaN,NaN,NaN,NaN,NaN,"₹2,967"
1392,Nokia C2-00,0.0,0,cm Display,NaN,NaN,NaN,NaN,NaN,"₹2,967"
1394,Nokia 5130,3.0,4,cm Display,NaN,NaN,NaN,NaN,NaN,"₹4,819"
1395,Nokia C3,3.8,5,cm Display,NaN,NaN,NaN,NaN,NaN,"₹6,599"
1396,Nokia X-201,4.4,116,cm Display,NaN,NaN,NaN,NaN,NaN,"₹4,229"
1400,Nokia X2,0.0,0,cm Display,NaN,NaN,NaN,NaN,NaN,"₹5,359"
1401,Nokia Asha 302,3.0,5,cm Display,NaN,NaN,NaN,NaN,NaN,"₹7,999"
1402,Nokia X2,4.1,35,cm Display,NaN,NaN,NaN,NaN,NaN,"₹5,359"

In [41]:
df['RAM'] = df['RAM'].str.replace('ROM', 'RAM')

In [42]:
# RAM


TB_mask = df['RAM'].str.contains('TB', na=False)
MB_mask = df['RAM'].str.contains('MB', na=False)
GB_mask = df['RAM'].str.contains('GB', na= False)
df = df[~df['RAM'].str.contains('Expandable', na=False)]
df = df[~df['RAM'].str.contains('cm Display', na=False)]
df['RAM'] = df['RAM'].replace(['NA MB RAM', 'NA RAM'], np.nan)


# ROM
TB_mask_ROM = df['ROM/Storage'].str.contains('TB', na=False)
MB_mask_ROM = df['ROM/Storage'].str.contains('MB', na=False)
GB_mask_ROM = df['ROM/Storage'].str.contains('GB', na= False)
df = df[~df['ROM/Storage'].str.contains('Expandable', na=False)]
df = df[~df['ROM/Storage'].str.contains('NA', na=False)]


df.loc[TB_mask, 'RAM'] = (df.loc[TB_mask, 'RAM'].str.replace(' TB RAM', '').astype(float))*1000
df.loc[GB_mask, 'RAM'] = df.loc[GB_mask, 'RAM'].str.replace(' GB RAM', '').astype(float)
df.loc[MB_mask, 'RAM'] = (df.loc[MB_mask, 'RAM'].str.replace(' MB RAM', '').astype(float))/1000

df.loc[TB_mask, 'ROM/Storage'] = (df.loc[TB_mask_ROM, 'ROM/Storage'].str.replace(' TB ROM', '').astype(float))*1000
df.loc[GB_mask, 'ROM/Storage'] = df.loc[GB_mask_ROM, 'ROM/Storage'].str.replace(' GB ROM', '').astype(float)
df.loc[MB_mask, 'ROM/Storage'] = (df.loc[MB_mask_ROM, 'ROM/Storage'].str.replace(' MB ROM', '').astype(float))/1000

# Battery
df['Battery'] = df['Battery'].str.extract(r'(\d+)')



df.head(5)

,Phone Name,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Price in INR
0,"POCO C50 (Royal Blue, 32 GB)",4.2,"33,561",2.0,32.0,8MP Dual Camera,5MP Front Camera,5000,"Mediatek Helio A22 Processor, Upto 2.0 GHz Pro...","₹5,649"
1,"POCO M4 5G (Cool Blue, 64 GB)",4.2,"77,128",4.0,64.0,50MP + 2MP,8MP Front Camera,5000,Mediatek Dimensity 700 Processor,"₹11,999"
2,"POCO C51 (Royal Blue, 64 GB)",4.3,"15,175",4.0,64.0,8MP Dual Rear Camera,5MP Front Camera,5000,Helio G36 Processor,"₹6,999"
3,"POCO C55 (Cool Blue, 64 GB)",4.2,"22,621",4.0,64.0,50MP Dual Rear Camera,5MP Front Camera,5000,Mediatek Helio G85 Processor,"₹7,749"
4,"POCO C51 (Power Black, 64 GB)",4.3,"15,175",4.0,64.0,8MP Dual Rear Camera,5MP Front Camera,5000,Helio G36 Processor,"₹6,999"

In [43]:
# Processor

df['Processor Brand'] = df['Processor'].str.split(' ', n=1, expand=True)[0]

# Phone Name

df['Phone Brand'] = df['Phone Name'].str.split(' ', n=1, expand= True)[0]
def hitung_cam(hitung):
    if 'Dual' in hitung:
        return 2
    else:
        hitung_plus = hitung.count("+")
        return hitung_plus + 1

df['Front Camera'] = df['Front Camera'].astype(str)   
df['Jumlah Kamera Belakang'] = df['Back/Rare Camera'].apply(hitung_cam)
def hitung_cam_dpn(hitung):
    if 'Dual' in hitung:
        return 2
    else:
        return 1
df['Jumlah Kamera Depan'] = df['Front Camera'].apply(hitung_cam_dpn)
# df['Back/Rare Camera'] = df['Back/Rare Camera'].str.split("+", n = df['Back/Rare Camera'].count("+"), expand=True)

df.head(5)

# Name

,Phone Name,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Price in INR,Processor Brand,Phone Brand,Jumlah Kamera Belakang,Jumlah Kamera Depan
0,"POCO C50 (Royal Blue, 32 GB)",4.2,"33,561",2.0,32.0,8MP Dual Camera,5MP Front Camera,5000,"Mediatek Helio A22 Processor, Upto 2.0 GHz Pro...","₹5,649",Mediatek,POCO,2,1
1,"POCO M4 5G (Cool Blue, 64 GB)",4.2,"77,128",4.0,64.0,50MP + 2MP,8MP Front Camera,5000,Mediatek Dimensity 700 Processor,"₹11,999",Mediatek,POCO,2,1
2,"POCO C51 (Royal Blue, 64 GB)",4.3,"15,175",4.0,64.0,8MP Dual Rear Camera,5MP Front Camera,5000,Helio G36 Processor,"₹6,999",Helio,POCO,2,1
3,"POCO C55 (Cool Blue, 64 GB)",4.2,"22,621",4.0,64.0,50MP Dual Rear Camera,5MP Front Camera,5000,Mediatek Helio G85 Processor,"₹7,749",Mediatek,POCO,2,1
4,"POCO C51 (Power Black, 64 GB)",4.3,"15,175",4.0,64.0,8MP Dual Rear Camera,5MP Front Camera,5000,Helio G36 Processor,"₹6,999",Helio,POCO,2,1

Bersihkan Rating

In [44]:
rename = {
    'Rating ?/5' : 'Rating'
}

df = df.rename(columns=rename)

df['Number of Ratings'] = df['Number of Ratings'].str.replace(",", "").astype(int)
df.sample(5)

,Phone Name,Rating,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Price in INR,Processor Brand,Phone Brand,Jumlah Kamera Belakang,Jumlah Kamera Depan
221,"realme Narzo 50i (Mint Green, 64 GB)",4.3,63130,4.0,64.0,8MP Rear Camera,5MP Front Camera,5000,SC9863A Processor,"₹8,910",SC9863A,realme,1,1
1455,"MOTOROLA Edge 40 (Eclipse Black, 256 GB)",4.3,1421,8.0,256.0,50MP + 13MP,32MP Front Camera,4400,Dimensity 8020 Processor,"₹29,999",Dimensity,MOTOROLA,2,1
12,"POCO M5 (Power Black, 64 GB)",4.2,7572,4.0,64.0,50MP + 2MP Depth Sensor + 2MP Macro Sensor,8MP Front Camera,5000,Mediatek Helio G99 Processor,"₹8,999",Mediatek,POCO,3,1
1139,"Mi 11X (Lunar White, 128 GB)",4.2,2930,6.0,128.0,48MP + 8MP + 5MP,20MP Front Camera,4520,Qualcomm Snapdragon 870 Processor,"₹24,999",Qualcomm,Mi,3,1
1596,"OnePlus 10R 5G (Prime Blue, 128 GB)",4.3,2260,8.0,128.0,5000 mAh Battery,nan,1,NaN,"₹32,999",NaN,OnePlus,1,1

In [ ]:
# Hapus kolom gk guna
cols_delete_2 = ['Phone Name', 'Back/Rare Camera', 'Front Camera', 'Processor']
df.drop(cols_delete_2, axis=1, inplace=True, errors='ignore')

df.sample(5)

# hapus kolom yg ada nullnya

,Rating,Number of Ratings,RAM,ROM/Storage,Battery,Price in INR,Processor Brand,Phone Brand,Jumlah Kamera Belakang,Jumlah Kamera Depan
568,4.2,715,8.0,128.0,5000,"₹30,999",Dimensity,SAMSUNG,3,1
173,4.4,25430,3.0,32.0,5000,"₹8,999",Unisoc,realme,2,1
1526,4.0,20231,6.0,128.0,5000,"₹18,999",MediaTek,MOTOROLA,3,1
605,4.1,3592,2.0,32.0,5000,"₹7,499",1,SAMSUNG,1,1
494,4.7,224309,512.0,NaN,15,"₹81,999",Brand,APPLE,2,1

In [50]:
# Hapus duplicated data

df.duplicated().sum()

df.drop_duplicates(inplace=True)

# Hapus data kosong (krna akan memengaruhi spesifikasi hp)

df.dropna(axis =0, inplace=True)

df.sample(5)

,Rating,Number of Ratings,RAM,ROM/Storage,Battery,Price in INR,Processor Brand,Phone Brand,Jumlah Kamera Belakang,Jumlah Kamera Depan
892,4.5,22618,6.0,128.0,4500.0,"₹18,999",Snapdragon,vivo,2,1
1622,3.9,369,8.0,128.0,4500.0,"₹36,790",12,OnePlus,1,1
1420,4.0,202,4.0,64.0,5050.0,"₹9,290",MediaTek,Nokia,3,1
197,4.1,1238,4.0,64.0,5000.0,"₹11,998",1,realme,1,1
994,4.3,67447,4.0,128.0,5000.0,"₹15,990",Turbo,vivo,3,1

In [52]:

cols_num = ['RAM', 'ROM/Storage', 'Battery', 'Price in INR']
df[cols_num] = df[cols_num].apply(pd.to_numeric, errors= 'coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1049 entries, 0 to 1835
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rating                  1049 non-null   float64
 1   Number of Ratings       1049 non-null   int64
 2   RAM                     1049 non-null   float64
 3   ROM/Storage             1049 non-null   float64
 4   Battery                 1049 non-null   float64
 5   Price in INR            0 non-null      float64
 6   Processor Brand         1049 non-null   object
 7   Phone Brand             1049 non-null   object
 8   Jumlah Kamera Belakang  1049 non-null   int64
 9   Jumlah Kamera Depan     1049 non-null   int64
dtypes: float64(5), int64(3), object(2)
memory usage: 90.1+ KB